name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Nowy krok: Instalacja Javy (niezbędna dla Androida)
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Usunęliśmy "Setup Flutter" - Flet zrobi to sam.

    - name: Flet Build APK
      run: |
        # "yes |" automatycznie odpowiada "y" na pytanie o instalację SDK
        yes | flet build apk ./src

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: memory-master-apk
        path: build/app/outputs/flutter-apk/app-release.apk
