name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # 1. Instalacja Javy (Wymagana przez Androida)
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    # 2. Instalacja Fluttera (TO JEST TEN BRAKUJĄCY KROK)
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0' # Stabilna wersja, która dobrze działa z Flet 0.21.2

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Ważne: upewnij się, że w requirements.txt masz flet==0.21.2
        pip install -r requirements.txt

    - name: Flet Build APK
      run: |
        # Teraz Flutter już jest w systemie, więc komenda zadziała
        flet build apk ./src

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: memory-master-apk
        path: build/app/outputs/flutter-apk/app-release.apk
